<h1>Your New Account</h1>

<p>Dear <%= @instructor.name %>!</p>
<p>This is your new account information:</p>
<hr />
<p>Email: <%= @instructor.email %><p>
<p>Password: <%= @random_password %><p>
<hr />
<p>Please change your password ASAP!</p>

<h3>Best Regard!</h3>