<h1>Inform New Partner</h1>

<p>Dear <%= @partner.name %>!</p>
<p>We set up your partner page: xxx</p>
<p>Below is your admin account:</p>
<hr />
<p>Email: <%= @partner.email %><p>
<p>Password: <%= @admin_random_password %><p>
<hr />
<p>Please change your admin account password ASAP!</p>

<h3>Best Regard!</h3>